/* line 5, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*============================
    COLORS
==============================*/
/*============================
    FONTS
==============================*/
/*============================
    MIXINS
==============================*/
/*============================
    BASE
==============================*/
/* line 9, sass/application.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/* line 15, sass/application.scss */
html,
body {
  height: 100%;
}

/* line 20, sass/application.scss */
h1 {
  margin-bottom: 10px;
  font-family: "Brandon Text W01 Light", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 8px;
}

/* line 28, sass/application.scss */
h2 {
  font-family: "Brandon Text W01 Thin Italic", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2px;
}

/* line 35, sass/application.scss */
a {
  display: inline-block;
  color: #222222;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform, 0.2s, ease;
  -o-transition: -o-transform, 0.2s, ease;
  -webkit-transition: -webkit-transform, 0.2s, ease;
  transition: transform, 0.2s, ease;
}
/* line 40, sass/application.scss */
a:hover, a:focus {
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

/* line 46, sass/application.scss */
section {
  position: relative;
  height: 100vh;
  min-height: 600px;
}
/* line 50, sass/application.scss */
section:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 61, sass/application.scss */
section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}
/* line 69, sass/application.scss */
section .content .image_header {
  margin-bottom: 15px;
}
/* line 72, sass/application.scss */
section .content .social_icons {
  padding-top: 15px;
}
/* line 74, sass/application.scss */
section .content .social_icons a {
  margin: 0 20px;
  padding: 20px;
  border: 5px #FFFFFF solid;
}
/* line 78, sass/application.scss */
section .content .social_icons a img {
  width: 48px;
}

/*============================
    SECTIONS
==============================*/
/* line 91, sass/application.scss */
.intro {
  background-color: #FFFFFF;
  color: #222222;
}
/* line 94, sass/application.scss */
.intro:after {
  background-image: url(../img/bg_intro.jpg);
  background-position: center 15%;
  opacity: 0.08;
}

/* line 101, sass/application.scss */
.work {
  background-color: #222222;
  color: #FFFFFF;
}
/* line 104, sass/application.scss */
.work:after {
  background-image: url(../img/bg_work.jpg);
  background-position: center 20%;
  opacity: 0.1;
}
/* line 109, sass/application.scss */
.work .image_header {
  height: 80px;
}
/* line 113, sass/application.scss */
.work h2 img {
  height: 56px;
  vertical-align: middle;
}

/* line 120, sass/application.scss */
.project {
  background-color: #FFFFFF;
  color: #222222;
}
/* line 123, sass/application.scss */
.project:after {
  background-image: url(../img/bg_project.jpg);
  background-position: center top;
  opacity: 0.08;
}

/* line 130, sass/application.scss */
.contact {
  background-color: #222222;
  color: #FFFFFF;
}
/* line 133, sass/application.scss */
.contact:after {
  background-image: url(../img/bg_contact.jpg);
  background-position: center top;
  opacity: 0.15;
}
