/*============================
    COLORS
==============================*/

$white:                     #FFFFFF;
$black:                     #000000;
$gray_dark:                 #222222;
$red:                       #E80606;


/*============================
    FONTS
==============================*/

$main_font:             'Raleway';


/*============================
    MIXINS
==============================*/

@mixin font_family($font) {
    font-family: $font, Helvetica, Arial, sans-serif;
}


/*============================
    KEYFRAMES
==============================*/

@include keyframes(bounce) {
    0% {
        @include transform(translate3d(-50%, 0, 0));
    }
    50% {
        @include transform(translate3d(-50%, -5px, 0));
    }
    100% {
        @include transform(translate3d(-50%, 0, 0));
    }
}
