/*============================
    COLORS
==============================*/

$white:                     #FFFFFF;
$black:                     #000000;
$gray_dark:                 #222222;
$red:                       #E80606;


/*============================
    FONTS
==============================*/

$brandon_thin_italic:       'Brandon Text W01 Thin Italic';
$brandon_light:             'Brandon Text W01 Light';


/*============================
    MIXINS
==============================*/

@mixin font_family($font) {
    font-family: $font, Helvetica, Arial, sans-serif;
}