@import "compass";
@import "compass/reset";
@import "_variables.scss";

/*============================
    BASE
==============================*/

* {
	@include box-sizing(border-box);
	outline: none;
	text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    opacity: 0;
    @include transition(opacity, 0.5s, ease);
    &.loaded {
        opacity: 1;
    }
}

h1 {
    margin-bottom: 15px;
    @include font_family($main_font);
	font-weight: 200;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 8px;
}

h2 {
	max-width: 1000px;
	margin: 0 auto;
    @include font_family($main_font);
	font-weight: 100;
	font-style: italic;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 120%;
}

a {
    display: inline-block;
    color: $gray_dark;
    @include transform(scale(1));
    @include transition(transform, 0.2s, ease);
}


/*============================
    DESKTOP
==============================*/

section {
    position: relative;
    height: 100%;
    &.current {
        .inner {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
        }
    }
    .inner {
        height: 100%;
        .background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            width: 100%;
            @include transform(translate3d(-50%, -50%, 0));
            text-align: center;
            .image_header {
                margin-bottom: 20px;
            }
            .social_icons {
                padding-top: 10px;
                a {
                    margin: 0 20px;
                    padding: 15px;
                    border: 4px $white solid;
                    img {
                        width: 36px;
                    }
                }
            }
        }
        .scroll {
            position: absolute;
            left: 50%;
            bottom: 10px;
            @include transform(translate3d(-50%, 0, 0));
            width: 32px;
            @include animation(bounce 1.5s infinite);
            path {
                fill: none;
                stroke: $gray_dark;
            }
        }
    }
}


/*============================
    SECTIONS
==============================*/

#intro {
    background-color: $white;
    color: $gray_dark;
    .inner {
        .background {
            background-image: url(../img/bg_intro.jpg);
            background-position: center 15%;
            opacity: 0.15;
        }
    }
}

.work {
    background-color: $gray_dark;
    color: $white;
    .inner {
        .image_header {
            height: 80px;
        }
        h2 {
            img {
                height: 56px;
                margin-top: -10px;
                vertical-align: middle;
            }
        }
    }
}

#harrys {
    background-color: $black;
    .inner {
        .image_header {
            height: 100px;
            margin-bottom: 0;
        }
        .background {
            background-image: url(../img/bg_harrys.jpg);
            background-position: center 20%;
            opacity: 0.2;
        }
    }
}

#vimeo {
    .background {
        background-image: url(../img/bg_vimeo.jpg);
        background-position: center 20%;
        opacity: 0.1;
    }
}

#project {
    background-color: $white;
    color: $gray_dark;
    .inner {
        .background {
            background-image: url(../img/bg_project.jpg);
            background-position: center top;
            opacity: 0.1;
        }
    }
}

#contact {
    background-color: $gray_dark;
    color: $white;
    .inner {
        .background {
            background-image: url(../img/bg_contact.jpg);
            background-position: center top;
            opacity: 0.15;
        }
    }
}


/*============================
    MOBILE
==============================*/

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
        letter-spacing: 3px;
    }


    h2 {
        font-size: 28px;
        letter-spacing: 1px;
    }

    section {
        &.current {
            .inner {
                position: static;
            }
        }
        .inner {
            .content {
                padding: 0 20px;
                .social_icons {
                    a {
                        margin: 0 10px;
                        padding: 10px;
                        border: 3px $white solid;
                        img {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }

    #work {
        .inner {
            .image_header {
                height: 60px;
            }
            h2 {
                img {
                    height: 40px;
                    margin-top: -5px;
                }
            }
        }
    }
}
